In [ ]:
# Question 1
# The following is a list of 10 students ages:
# ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# • Sort the list and find the min and max age
# • Add the min age and the max age again to the list
# • Find the median age (one middle item or two middle items divided by two)
# • Find the average age (sum of all items divided by their number)
# • Find the range of the ages (max minus min)

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print("The List after sorting",ages)
max_age = max(ages)
print("The maximum age is ",max_age)
min_age = min(ages)
print("The minimum age is ",min_age )
ages.append(max_age)
ages.append(min_age)
print("The updated list is ",ages)
mid_value = len(ages) // 2
median = (ages[mid_value] + ages[~mid_value]) / 2
print("The median is ",median)
avg = sum(ages)/len(ages)
print("The average is ", round(avg,2))
range = max(ages)-min(ages)
print("The range is ",range)

The List after sorting [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The maximum age is  26
The minimum age is  19
The updated list is  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]
The median is  24.0
The average is  22.75
The range is  7

In [ ]:
# Question 2
# • Create an empty dictionary called dog
# • Add name, color, breed, legs, age to the dog dictionary
# • Create a student dictionary and add first_name, last_name, gender, age, marital status, 
# skills, country, city and address as keys for the dictionary
# • Get the length of the student dictionary
# • Get the value of skills and check the data type, it should be a list
# • Modify the skills values by adding one or two skills
# • Get the dictionary keys as a list
# • Get the dictionary values as a list

dog = {}
dog["name"] = "maxie"
dog["color"] = "brown"
dog["breed"] = "golden doodle"
dog["legs"] = "short"
dog["age"] = "5"

student = {}
student["first_name"] = "Praveena"
student["last_name"] = "Goli"
student["gender"] = "F"
student["age"] = "23"
student["marital_status"] = "Single"
student["skills"] = ["Python"]
student["country"] = "India"
student["city"] = "Hyd"
student["address"] = "12345 w 123rd st 12345"
length_of_student_dict = len(student)
print(length_of_student_dict)

skills = student["skills"]
print(skills)
print(type(skills))

student["skills"].append("ML")
student["skills"].append("DL")

student_keys = list(student.keys())
print(student_keys)
student_values = list(student.values())
print(student_values)

9
['Python']
<class 'list'>
['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
['Praveena', 'Goli', 'F', '23', 'Single', ['Python', 'ML', 'DL'], 'India', 'Hyd', '12345 w 123rd st 12345']

In [ ]:
# Question 3
#  Create a tuple containing names of your sisters and your brothers (imaginary siblings are 
# fine)
# • Join brothers and sisters tuples and assign it to siblings
# • How many siblings do you have?
# • Modify the siblings tuple and add the name of your father and mother and assign it to 
# family_members

sisters = ("Pranavi", "Prashanthi")
brothers = ( "Pranay","Saketh","Satwik",)
siblings = sisters + brothers
print(siblings)

sibling_count = len(siblings)
print("The siblings count is", sibling_count)

family_members = siblings + ("Bhumaiah", "Vanaja")
print("The family members are", family_members)

('Pranavi', 'Prashanthi', 'Pranay', 'Saketh', 'Satwik')
The siblings count is 5
The family members are ('Pranavi', 'Prashanthi', 'Pranay', 'Saketh', 'Satwik', 'Bhumaiah', 'Vanaja')

In [ ]:
# Question 4
# it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
# A = {19, 22, 24, 20, 25, 26}
# B = {19, 22, 20, 25, 26, 24, 28, 27}
# age = [22, 19, 24, 25, 26, 24, 25, 24]
# • Find the length of the set it_companies
# • Add 'Twitter' to it_companies
# • Insert multiple IT companies at once to the set it_companies
# • Remove one of the companies from the set it_companies
# • What is the difference between remove and discard
# • Join A and B
# • Find A intersection B
# • Is A subset of B
# • Are A and B disjoint sets
# • Join A with B and B with A
# • What is the symmetric difference between A and B
# • Delete the sets completely
# • Convert the ages to a set and compare the length of the list and the set.

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
length_of_it = len(it_companies)
print("The length of the IT companies", length_of_it)
it_companies.add('Twitter')
it_companies.update({"Newgen", "CTS", "Infosys"})
it_companies.remove('Newgen')
# The difference between remove and discord is that remove() raises an error if the item is not in the set, while discard() does not throw an error.
it_companies.discard('Twitter')
A_or_B = A.union(B)
A_and_B = A.intersection(B)
is_subset = A.issubset(B)
is_disjoint = A.isdisjoint(B)
A_and_B_and_B_and_A = A.union(B).union(B).union(A)
symmetric_diff = A.symmetric_difference(B)
del it_companies
del A
del B
age_set = set(age)
print("The length of the list",  len(age))
print("The length of the set", len(age_set))

The length of the IT companies 7
The length of the list 8
The length of the set 5

In [ ]:
# Question 5
# The radius of a circle is 30 meters.
# • Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
# • Calculate the circumference of a circle and assign the value to a variable name of
# _circum_of_circle_
# • Take radius as user input and calculate the area

import math
radius = 30
_area_of_circle_ = math.pi * radius ** 2
print(_area_of_circle_)
_circum_of_circle_ = 2 * math.pi * radius
print(_circum_of_circle_)

#Take radius as user input and calculate the area
radius = float(input("Enter the radius of the circle in meters: "))
area = math.pi * radius ** 2
print("The area of the circle is: ", area)
circum = 2 * math.pi * radius
print("The circum of the circle is: ",circum )

2827.4333882308138
188.49555921538757
Enter the radius of the circle in meters: 7
The area of the circle is:  153.93804002589985
The circum of the circle is:  43.982297150257104

In [ ]:
# Question 6
# "I am a teacher and I love to inspire and teach people”
# • How many unique words have been used in the sentence? Use the split methods and set 
# to get the unique words.
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)
print("The length of the unique words is", len(unique_words))

The length of the unique words is 10

In [ ]:
# Question 7
# Use a tab escape sequence to get the following lines.
# Name Age Country City 
# Asabeneh 250 Finland Helsinki
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [ ]:
# Question 8
# Use the string formatting method to display the following:
# radius = 10
# area = 3.14 * radius ** 2
# “The area of a circle with radius 10 is 314 meters square.”
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius {} is {:.0f} meters square.".format(radius, area))

The area of a circle with radius 10 is 314 meters square.

In [ ]:
# Question 9
# Write a program, which reads weights (lbs.) of N students into a list and convert these weights to 
# kilograms in a separate list using Loop. N: No of students (Read input from user)
# Ex: L1: [150, 155, 145, 148]
# Output: [68.03, 70.3, 65.77, 67.13]
# function to convert lbs to kgs
L1 =[int(num) for num in input().split(" ")]
Weight_in_kgs=[]
for i in L1:
  Weight_in_kgs.append(round(i/2.205,2))
print("Values are:", Weight_in_kgs)

150 155 140 141
Values are: [68.03, 70.29, 63.49, 63.95]